    #navbarSupportedContent ul li{
    text-transform:uppercase;
}

.btn{
    background-color: #b00000;
    padding:10px 20px;
    COLOR:WHITE;
}
nav{
    position:fixed;
    z-index:10;
}
.header{
    height:500px;
    position:relative;
    overflow: hidden;
    }

.heading .row p{
    text-align: justify;

}
.left{
    position:absolute;
    width:70%;
    height:500px;
    left:-10%;
    transform: skew(-30deg);
}
.right{
    background-image: url(image/pexels-photo-4069291.webp);
    position:absolute;
    width:50%;
    height:500px;
    right:-10%;
    transform:skew(-30deg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.carousel-caption{
    margin-left:-100px;
    width:400px;
    margin-bottom: 50px;

}

.carousel-item,.carousel-item img{
    width: 130%;
    height: 500px;
    transform: skewX(20deg);

}
header img,.carousel-caption{
    transform: skewX(0deg);
}
.outer{
    height:200px;
    position: relative;
}
.caption{
    position: absolute;
    background-color: white;
    top: -30px;
    padding:2% 10%;
    text-align: center;
}
.caption h1,.caption h3,.heading h1{
    color:#b00000;
    padding-top:30px
}

.card{
    width:90%;
    border:none;
}
.card h2{
    background-color: #b00000;
    color:#fff;
    top:50px;
    position: absolute;
    left:-10px;
    padding-left:23px;
    font-size:25px;
    z-index:266;
}
.card h2::after{
content:"";
height:30px;
width:25px;
background-color:#b00000;
display:block;
position: absolute;
top:0;
right:-10px;
transform:skew(-30deg);
}
.card h2::before{
    content:"";
    height:28px;
    width:25px;
    background-color:#b00000;
    display:block;
    position:absolute;
    top:9px;
    left:0;
    transform: skewY(35deg);
}

.bt1{
   background-color: #fff;
    color:#b00000;
    padding:10px 15px;
    border:2px solid #b00000;
    border-radius: 5px;
}
.bt1:hover{
    background-color: #b00000;
    color:white;
    border-radius: 5px;

}
.bt2{
    background-color: #b00000;
    color:white; 
    padding:10px 15px;
    border-radius: 5px;
    border:none
}
.info{
    text-align: center;
    background-image: url(./image/removals_bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.map img{
 height:500px;
}
.map-info{
    width:100%;
    margin:auto;

}
.map .map-info p{
text-align: justify;
}
.foot li{
    list-style: none;
    margin-bottom:10px;
    color:#878191;
    margin-left:0;

}
.list li p{
    color:#878191;
    font-size:15px;
}
.list h3{
font-size: 25px;
    font-weight: 500;
    color: #fff;
    padding-left:30px
}












@media(max-width:500px){
    .section1{
        margin-left:100px;
        width:100px;
    }
}